body {
    font-family: "Arial";
    background-color: rgb(18, 18, 22);
    color: white;
}

h1 {
    padding: 16% 0;
    font-size: 80px;
    text-align: center;
}

#Highscore {
    position: absolute;
    top: 1px;
    font-size: 23px;
    color: rgb(6, 228, 6);
}

#Score {
    position: absolute;
    top: 34px;
    font-size: 20px;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}